html {
	scroll-behavior: smooth;
	color: rgb(234, 240, 228);
}
blockquote {
	font-size: 0.8rem;
}
.Navbar {
	z-index: 50;
	background: rgba(7, 163, 178, 0);
	transition: all 500ms ease-in-out;
}
.Navbar_logo {
	transition: all 500ms ease-in-out;
}
.Landing_Img_Box_2 {
	width: 100%;
	height: 100vh;
	background: url(/images/adobe1.jpg) no-repeat center;
	background-size: cover;
	overflow: hidden;
	justify-content: center;
}

.Landing_Img_Box_3 {
	width: 100%;
	height: 100vh;
	background: url(/images/adobe2.jpg) no-repeat center;
	background-size: cover;
	overflow: hidden;
	justify-content: center;
}

.Landing_Img_Box_4{
	width: 100%;
	height: 100vh;
	background: url(/images/adobe3.jpg) no-repeat center;
	background-size: cover;
	overflow: hidden;
	justify-content: center;
}


.Landing_filter {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.3);
	overflow: hidden;
}

.Landing_h4 {
	position: relative;
	text-align: center;
	top: 50%;
	font-size: 2.5rem;
	text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.5);
}

.Landing_p {
	position: relative;
	text-align: center;
	top: 50%;
	font-size: 1.5rem;
	text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.5);
}

.Navbar_h5 {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.Testimonial_Slide_Right {
	width: 100%;
	height: 450px;
	background: linear-gradient(to right, #07a3b2, #d9ecc7);
}

.Testimonial_Slide_Left {
	width: 100%;
	height: 450px;
	background: linear-gradient(to left, #07a3b2, #d9ecc7);
}

.Landing_Event {
	background: #07a3b2;
	color: #eaf0e4;
	font-size: 1rem;
}

.Landing_Event a {
	color: #eaf0e4;
}

.green-btn {
	background: #d9ecc7;
	color: #07a3b2;
	padding: 1rem 2rem;
	border-radius: 0.3rem;
	border: none;
}

.teal-btn {
	background: #07a3b2;
	color: #eaf0e4;
	padding: 1rem;
	border-radius: 0.3rem;
}
.teal-btn:hover{
	text-decoration: none;
	color: #dbdbdb;
}
/* color#eaf0e4 */
.Footer {
	background: #07a3b2;
	color: #eaf0e4;
	padding: 1rem;
}
.Footer h5 {
	margin-bottom: 1rem;
}

.Footer_UL > li:first-child {
	margin-bottom: 0.5rem;
	font-size: 1.2rem;
}

.Footer_UL > li {
	font-size: 0.9rem;
}

.Footer_UL {
	margin-bottom: 2.5rem;
	list-style-type: none;
}
