html {
	scroll-behavior: smooth;
	color: rgb(234, 240, 228);
}

blockquote {
	font-size: 0.8rem;
}

.Navbar {
	z-index: 50;
	background: rgba(7, 163, 178, 0.5);
	transition: all 500ms ease-in-out;
	color: #ffffff;
	text-shadow: 1px 2px 2px #003e44;
}

.Navbar_logo {
	transition: all 500ms ease-in-out;
}

.Landing_Img_Box_2 {
	width: 100%;
	height: 100vh;
	background: url(/images/adobe1.jpg) no-repeat center;
	background-size: cover;
	overflow: hidden;
	justify-content: center;
}

.Landing_Img_Box_3 {
	width: 100%;
	height: 100vh;
	background: url(/images/adobe2.jpg) no-repeat center;
	background-size: cover;
	overflow: hidden;
	justify-content: center;
}

.Landing_Img_Box_4 {
	width: 100%;
	height: 100vh;
	background: url(/images/adobe3.jpg) no-repeat center;
	background-size: cover;
	overflow: hidden;
	justify-content: center;
}

.Landing_filter {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.3);
	overflow: hidden;
}

.Landing_h4 {
	position: relative;
	text-align: center;
	top: 50%;
	font-size: 2.5rem;
	text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.5);
}

.Landing_p {
	position: relative;
	text-align: center;
	top: 50%;
	font-size: 1.5rem;
	text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.5);
}

.Navbar_h5 {
	position: relative;
	right: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	font-size: 2rem;
}

.Testimonial_Slide_Right {
	width: 100%;
	height: 450px;
	background: linear-gradient(to right, #07a3b2, #d9ecc7);
}

.Testimonial_Slide_Left {
	width: 100%;
	height: 450px;
	background: linear-gradient(to left, #07a3b2, #d9ecc7);
}

.Story_Row {
	text-shadow: 1px 1px 1px #ffffff;
}
.Story_Row > div:first-child {
	background: none !important;
}

.Story_Row > div:nth-child(even) {
	background: linear-gradient(to left, rgba(7, 163, 178, 0.1), rgba(217, 236, 199, 0.1));
}

.Story_Row > div:nth-child(odd) {
	background: linear-gradient(to right, rgba(7, 163, 178, 0.1), rgba(217, 236, 199, 0.1));
}

.Landing_Event {
	/* background: linear-gradient(to right, #07a3b2, #d9ecc7); */
	font-size: 1rem;
	text-shadow: 1px 1px 1px #ffffff;
}

.Landing_Event a {
	color: #eaf0e4;
}
.Event_Col {
	/* background: linear-gradient(to left, rgba(7, 163, 178, 0.1), rgba(217, 236, 199, 0.1)); */
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.green-btn {
	background: #d9ecc7;
	color: #07a3b2;
	padding: 1rem 2rem;
	border-radius: 0.3rem;
	border: none;
}

.teal-btn {
	background: #07a3b2;
	color: #eaf0e4;
	padding: 1rem;
	border-radius: 0.3rem;
	border: none;
}
.teal-btn:hover {
	text-decoration: none;
	color: #dbdbdb;
}
/* color#eaf0e4 */

.Testimonial_card {
	position: relative;
	transform: translateX(50%);
	right: -50%;
	overflow: hidden;
	width: 350px;
	height: 250px;
	justify-content: center;
	border: rgba(255, 255, 255, 0.3) solid 0.5rem;
	box-shadow: rgba(255, 255, 255, 0.3) 3px 3px 4px;
}

.Testimonial_card > img {
	text-align: center;
}
.Footer {
	background: #07a3b2;
	color: #ffffff;
	padding: 1rem;
}
.Footer h5 {
	margin-bottom: 1rem;
}

.Footer_UL > li:first-child {
	margin-bottom: 0.5rem;
	font-size: 1.6rem;
}

.Footer_UL > li {
	font-size: 1.2rem;
	text-shadow: 2px 1px 1px #003e44;
}

.Footer_UL {
	margin-bottom: 2.5rem;
	list-style-type: none;
}

.Footer-li > a {
	color: #ffffff;
	font-size: 1.2rem;
}

@media only screen and (max-width: 992px)  {
	.Navbar_h5 {
		position: relative;
		left: 0;
		transform: none;
		font-size: 1.5rem;
	}
	.Navbar {
		text-align: center;
	}
}