.Survey-Row {
  background:linear-gradient(to left, #07a3b2, #d9ecc7 50%, #07a3b2 100%);
  background-size: 200% 200%;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  padding: 2rem;
  text-shadow: 1px 1px 1px #ffffff;
  font-weight: bold;
  font-size: 1.2rem;

}